@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.weatherdays-container-fluid {
    width: 100vw;
    margin-top: 1rem;

    .weatherdays-container {
        width: 100%;
        margin:auto;
        font-family: "Nunito", sans-serif;

        .non-carousel{
            width: 100%;
            height: 11.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .carousel {
            display: none;
        }

        .weatherdays-item {
            border-top: 1px solid white;;
            width:12vw;
            height: 100%;
            text-align: center;

            h1 {
                font-size: 1rem;
            }

            img {
                width: 7rem;
            }
        }
    }
}




@media screen and (min-width : 768px) and (max-width:1023px) {
    .weatherdays-container-fluid {
        width: 100vw;
        margin-top: 1rem;

        .weatherdays-container {
            width: 90%;
            height: 11.6rem;
            display: block;

            .non-carousel{
                display: none;
            }

            .carousel {
                display: block;
                width: 100%;
                


                .weatherdays-item {
                    width: 10rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-left: 5%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .weatherdays-container-fluid {
        width: 100vw;
        margin-top: 1rem;

        .weatherdays-container {
            width: 80%;
            height: 11.6rem;
            display: block;

            .non-carousel{
                display: none;
            }

            .carousel {
                width: 100%;
                margin-top: 25vh;
                display: block;



                .weatherdays-item {
                    border-top:none;
                    width: 110%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    

                    h1 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
