$top-first-color-dark: rgba(44, 26, 166, 90%);
$top-second-color-dark: rgba(122, 27, 111, 80%);
$top-first-color-light: rgba(185, 99, 241, 100%);
$top-second-color-light: rgba(110, 160, 250, 100%);

.background {
    width: 100%;
    height: 100vh;
    position: fixed;

    &-top {
        height: 300px;
    }

    .dark {
        background-image: linear-gradient(90deg, $top-first-color-dark, $top-second-color-dark);
      
       
    }

    .light {
        background-image: linear-gradient(90deg, $top-first-color-light, $top-second-color-light);
        
        
    }



    &-bottom {
        height: calc(100vh - 300px);
        background-color: rgb(24, 24, 36);
    }

    .dark-bottom {
        background-color: rgb(24, 24, 36);
    }

    .light-bottom {
         background-color: rgb(240,240,240);
    }

    .transition{
        transition: all .5s ease;
    }
}

.content {
    color: white;
    position: relative;
    max-width: 33.75rem;
    height: 524px;
    margin: 0 auto;
    top: 75px;    
}

@media screen and (max-width : 767px) {
    .content {
        color: white;
        position: relative;
        max-width: 80%;
        min-width: 50%;
    }
}