.current-location-container{
    width: 100vw;
    height: 50vh;
    border:1px solid red;
    background-color: rgb(35,37,42);
    
    display: flex;
    justify-content: center;
    align-items: center;
}