@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap");

$bg-nav-light: white;
$bg-nav-dark: rgb(45, 45, 45);

$nav_container--list-width-pc: 30rem;

@mixin flex($justify: flex-start, $align: flex-start, $wrap: wrap, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

.nav_container--list {
    width: $nav_container--list-width-pc;
    background-color: $bg-nav-light;
    padding: 2rem;


    .nav_logo--container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;

        img {
            width: 8rem;
            color: white;
        }

        h1 {
            font-size: 2.5rem;
            color: black;
            font-family: "Balsamiq Sans", cursive;
        }
    }

    .nav_menu--items {
        width: $nav_container--list-width-pc;
        margin: 2rem -2rem;
        cursor: pointer;

        .nav_menu-item {
            margin: 0 0 2rem 0;
            height: 4rem;
            font-size: 2rem;
            padding: 0 2rem;
            text-decoration: none;

            color: black;
            font-family: "Mukta", sans-serif;
            @include flex(flex-start, center);

            background-image: transparent;
        }

        .active {
            border-left: 3px solid black;
            background-image: linear-gradient(90deg, rgba(249, 128, 40, 60%), transparent);
        }
    }

    .nav_btn--nightmode {
        width: 100%;
        position: relative;
        top: 35%;

        .btn {
            width: 3rem;
            height: 3rem;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    .day-info{
        font-family: "Mukta", sans-serif;
        font-size: 2rem;
    }
}

.nav_background--transition {
    transition: background-color 1s ease;
}

.dark-nav {
    background-color: $bg-nav-dark;
    transition: background-color 1s ease ;

    .nav_logo--container{

        border-bottom: 1px solid white;
        h1 {
            color:white;
        }
    }

    .nav_menu--items {
        .nav_menu-item {
            color:white;
        }
    }
}

.dark-text {
    color:white;
}