.list-film-page-container{
    width: 100vw;
    min-height: 100vh;
    padding: 6rem 1rem 0 1rem; // padding cho NavBar
    display: flex;
    justify-content: space-between;
    border:1px solid red;
}


@media screen and (max-width : 1024px) {
    .list-film-page-container{
        width: 100vw;
        flex-direction: column;
    }
}