@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"); // navbar
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');// search item


@mixin flex($justifyContent: flex-start, $alignItems: flex-start, $flexDirection: row) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-direction: $flexDirection;
}

.title {
    position: fixed;
    z-index: 10;

    .navbar-container {
        width: 100vw;
        height: 4rem;
        margin: auto;
        background-color: black;
        position: fixed;

        .navbar-container-fluid {
            width: 90%;
            margin: auto;
            height: 4rem;
            @include flex(space-between, center);

            .logo-container {
                width: 13rem;
                height: 4rem;
                @include flex();
                font-family: "Ubuntu";

                .logo-image {
                    width: 4rem;
                }

                h2 {
                    font-size: 1.5rem;
                    color: white;
                    margin: auto;
                }
            }

            .navbar {
                width: 70%;
                @include flex(flex-end);

                .menu {
                    background-color: black;
                    color: white;
                    width: 90%;
                    @include flex(flex-end);

                    .menu-option {
                        border-radius: 5px;
                        background-color: black;
                        font-size: 1rem;
                    }
                }
                .nav {
                    display: none;
                }
            }
        }
    }
    .search-input {
        position: fixed;
        top: 4rem;

        font-family: "Ubuntu";
        font-size: 1.5rem;
        padding: 0 3rem;
        height: 3rem;
        z-index: 2;
    }
    .navbar-mobile {
        display: none;
    }

    .search-result {
        width: 100vw;
        height: 16rem;
        position: relative;
        z-index: 10;
        margin-top: 7rem;
        overflow: scroll;
        background-color: white;

        .search-item {
            width: 100%;
            height: 4rem;
            background-color: white;
            border-bottom: 1px solid rgba(45,45,45,30%);

            :hover{
                background-color: rgb(233,233,233);
            }
    

            .search-item-avatar {
                display: flex;
                align-items: center;

                img {
                    width: 7rem;
                    height: 4rem;
                }
                .search-item-title{
                    margin:0 0 0 1rem;
                    font-family: 'Zen Kaku Gothic Antique', sans-serif;
                    font-weight: 600;
                    font-size: 1.5rem;
                }
                .search-item-vote{
                 position: relative;
                 bottom: 0.2rem;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .title {
        .navbar-container {
            .navbar-container-fluid {
                width: 95%;

                .logo-container {
                    width: 13rem;
                    h2 {
                        font-size: 1.4rem;
                    }
                }

                .navbar {
                    width: 70%;

                    .menu {
                        width: 100%;

                        .menu-option {
                            padding: 0 0.7rem;
                            font-size: 1rem;
                        }
                        .search-button {
                            width: 5%;
                        }
                    }
                }
                .nav {
                    display: none;
                }
            }
        }
    }
    .navbar-mobile {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .title {
        .navbar-container {
            .navbar-container-fluid {
                width: 100%;

                .logo-container {
                    width: 9rem;

                    .logo-image {
                        width: 3rem;
                        margin: auto;
                    }
                    h2 {
                        font-size: 0.9rem;
                        color: white;
                        margin: auto;
                    }
                }

                .navbar {
                    .menu {
                        display: none;
                    }

                    .nav {
                        display: block;
                        width: 5rem;
                        text-align: center;
                        background-color: black;

                        .nav-option {
                            background-color: black;
                        }
                    }
                }
            }
        }

        .dropdown-menu {
            background-color: black;
        }
        .search-mobile {
            display: block;
            background-color: black;
            color: white;
            border: none;
        }
        .navbar-mobile {
            display: block;
            width: 8rem;
            height: 5rem;
            @include flex(space-between, center);
        }

        .search-result {
            height: 20rem;
    
            .search-item {
                height: 5rem;

                .search-item-avatar {
                    align-items: flex-start;

                    img {
                        width: 8rem;
                        height: 5rem;
                    }
                    .search-item-title{
                        margin:0 0 0 1rem;
                        font-weight: 600;
                        font-size: 1.1rem;
                    }
                    .search-item-vote{
                     position: relative;
                     bottom: 0.2rem;
                    }
                }
            }
        }
    }
}
