//Fonts
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap'); // h1
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,100&display=swap'); // p span
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); // button 
// Variables

$logo-width : 10rem;
$h1-description : 2rem;
$p-description : 1.5rem;
$img:5rem;

$p-description-tablet : 1.3rem;

$h1-description-mobile:1.2rem;
$img-mobile : 4rem;
$logo-width-mobile:7rem;
$h1-description-mobile:1.5rem;
$p-description-mobile : 0.8rem;

//Style
.landing-page{
    min-width: 10vw;
    min-height: 10vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .nav-logo{
        position: fixed;
        width: 18rem;
        z-index: 100;
        bottom: 90vh;
        margin-left: 2vw;

        display: flex;
        align-items: center;
        justify-content: space-around;
        cursor: default;
        background: -webkit-linear-gradient(rgba(255,255,255,10%), rgba(0,0,0,100%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        span {
            font-size: $h1-description;
            font-family: 'Shippori Antique B1', sans-serif;
        }

        img{
            width: $img;
        }
        
    }

    .landing-background-color{
        width: 100vw;
        height: 100vh;
        position: relative;
        background: linear-gradient(180deg, rgba(10,10,10,0%), rgba(10,10,10,80%));
        z-index: 10;
        
    }

    .landing-background-image{
        position: relative;
        z-index: 1;
        overflow: hidden;
        bottom:100vh;
        img {
            opacity: .9;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }
    }

    .landing-description {
        position: absolute;
        z-index: 100;
        bottom : 50vh;

        width: 50%;
        height: 50%;
        transform: translate(50%,50%);

        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

        .landing-logo{
            width: $logo-width;
        }

        .description{
            width: 100%;
            height: 40%;
            color:white;
            text-align: center;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            
            h1 {
                font-size: $h1-description;
                font-family: 'Shippori Antique B1', sans-serif;
            }

            p{
                font-size:$p-description ;
                font-family: 'Work Sans', sans-serif;
            }
        }

        .get-started-btn {
            width: 8rem;
            height: 3rem;
            border-radius: 0.5rem;
            outline:none;
            border:none;

            cursor: pointer;
            background-color: white;
            font-family: 'Questrial', sans-serif;
            font-size: 1.2rem;
            transition: font-size .5s;
            text-align: center;

            &:hover {
                font-size: 1.3rem;
                transition: font-size .5s;
            }
            
        }
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .landing-page{    
        .landing-description {
            .description{
                p{
                    font-size:$p-description-tablet ;
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .landing-page{
        .nav-logo{
            width: 14rem;
            span {
                font-size: $h1-description-mobile;
            }
            img{
                width: $img-mobile;
            }   
        }
        .landing-description {
            height: 40%;
            .landing-logo{
                width: $logo-width-mobile;
            }
    
            .description{
                h1 {
                    font-size: $h1-description-mobile;
                }
    
                p{
                    font-size:$p-description-mobile;
                }
            }
    
            .get-started-btn {
                width: 6rem;
                height: 2.5rem;
                font-size: 0.9rem;
                &:hover{
                    font-size: 1rem;
                }
            }
        }
    }
}