@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap'); //title 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap'); //; //tagline
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap'); // overview
.top-info-container{
    height: 36rem;
    background-size: cover;
    position: relative;
    z-index: 1;
    
    .top-info-background-transparent{
        background-color: rgba(41,41,41,80%);
        position:relative;
        height: 32rem; // heigt của background transparent
        top:4rem;
        .top-info{
            position: relative;
            width: 100%;
            height: 26rem;
            z-index: 1000;
            padding:  0 10%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .poster {
                width: 20%;
                color:white;
                img{
                    width: 11.7rem;
                    border-radius: 2%;
                }
                .progress{
                    position:absolute;
                    top:80%;
                    left:8.5%;
                    font-size: 0.9rem;
                    font-family: 'Varela Round', sans-serif;
                }
                .progress.ant-progress .ant-progress-text {
                    color: white;
                    font-weight: 1000;
                  }
            }

            .info{
                width: 75%;
                height: 70%;
                color:white;

                .title-info{
                    height: 20%;
                    font-family: 'Baloo 2', cursive;
                    font-size:2rem;
                }

                .tagline{
                    height: 20%;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.5rem;
                    color:rgba(244,244,244,70%);
                    font-style: italic;
                }

                .homepage {
                    height: 20%;
                    @extend .title-info;
                    font-size: 1.5rem;
                }

                .overview {
                    height: 40%;
                    @extend .tagline;
                    font-family: 'Josefin Sans', sans-serif;
                    font-size:1.1rem;
                    font-style: normal;
                    color:white;
                }

            }

        }
    
        .back-button-container{
            margin: auto;
            position: relative;
            padding-left: 2rem;
            height: 2.7rem;
            z-index: 1000;
            bottom: -2rem;
    
            .back-button{
                width: 2.5rem;
                height: 2.5rem;
    
                background-color: white;
                color:black;
                font-size: 40px;
                border:none;
                
                &:hover{
                    width: 2.6rem;
                    height: 2.6rem;
                }
            }
        }
    }
}

@media only screen and (max-width : 1024px) and (min-width:768px) {
    .top-info-container{
        height: 30rem;
        overflow:visible;
        background-size: cover;
        
        .top-info-background-transparent{
            height: 26rem; // height của background transparent
    
            .top-info{
                height: 22rem;
                padding: 0 0 0 10%;
    
                .poster {
                    width: 10rem;

                    img{
                        width: 10rem;
                    }
                }
    
                .info{
                    width: 75%;

    
                    .title-info{
                        height: 20%;
                        font-family: 'Baloo 2', cursive;
                        font-size:2rem;
                    }
    
                    .tagline{
                        height: 20%;
                        font-size: 1.1rem;
                        color:rgba(244,244,244,70%);
                        font-style: italic;
                    }
    
                    .homepage {
                        height: 20%;
                        font-family: 'Baloo 2', cursive;
                        font-size: 1.5rem;
                    }
    
                    .overview {
                        height: 40%;
                        color:rgba(244,244,244,70%);
                        font-family: 'Josefin Sans', sans-serif;
                        font-size:0.9rem;
                        font-style: normal;
                        color:white;
                    }
    
                }
    
            }
        
            .back-button-container{
                margin: auto;
                position: relative;
                padding-left: 1rem;
                height: 2.7rem;
                z-index: 1000;
                bottom: 0rem;
        
                .back-button{
                    width: 2.5rem;
                    height: 2.5rem;
        
                    background-color: white;
                    color:black;
                    font-size: 40px;
                    border:none;
                    
                    &:hover{
                        width: 2.6rem;
                        height: 2.6rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width : 767px) {
    .top-info-container{
        height: 36rem;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        
        .top-info-background-transparent{
            height: 35rem;
    
            .top-info{
                align-items: flex-start;
                flex-direction: column;
                padding: 2%;
    
                .poster {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    img {
                        width: 8rem;
                        object-fit: cover;
                    }

                    .progress{
                        position: relative;
                        width: 1rem !important ;
                        left:8rem;
                        top:10rem;
                    }
                }
    
                .info{
                    text-align: center;
                    width:100%;
                    color:white;
    
                    .title-info{
                        height: 20%;
                        font-family: 'Baloo 2', cursive;
                        font-size:1.5rem;
                        margin-top: 1rem;
                    }
    
                    .tagline{
                        height: 20%;
                        font-size: 1.0rem;
                        color:rgba(244,244,244,70%);
                        font-style: italic;
                        margin-top: 1rem;
                    }
    
                    .homepage {
                        height: 10%;
                        margin-top:0.2rem;
                        font-size: 1.2rem;

                    }
    
                    .overview {
                        height: 40%;
                        font-family: 'Josefin Sans', sans-serif;
                        font-size:0.66rem;
                        font-style: normal;
                        color:white;
                    }
    
                }
    
            }
        
            .back-button-container{
                margin: auto;
                position: fixed;
                height: 2.7rem;
                z-index: 1000;
                right: 2rem;
                margin-left: -2rem;
                bottom: 2rem;
        
                .back-button{
                    width: 2.5rem;
                    height: 2.5rem;
        
                    background-color: white;
                    color:black;
                    font-size: 40px;
                    border:none;
                    
                    &:hover{
                        width: 2.6rem;
                        height: 2.6rem;
                    }
                }
            }
        }
    }  
}