.carousel-container {
    position: relative;
    top: 4rem;

    height: 35rem;
    background-color: red;

    .poster-container {

        .img-carousel-poster {
            position: relative;
            width: 100%;
            height: 35rem;
            object-fit:cover;
            object-position: 50% 20%;
        }
    }
}
