@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

.carousel-container {
    position: relative;
    top: 4rem;


    height: 35rem;

    .poster-container {
        position: relative;

        .img-carousel-poster {
            position: relative;
            width: 100%;
            height: 35rem;
            object-fit:cover;
            object-position: 50% 20%;
            z-index: -2; 
        }

        .poster-detail {
            position:absolute;
            width: 100%;
            height: 15rem;

            top:20rem;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 100%));
            padding: 2% 3%;
            
            .poster-title{
                font-family: 'Josefin Sans', sans-serif;
                font-size: 2.5rem;
                color:white;
            }

            .poster-description{
                color:white;
                font-family: 'Lato', sans-serif;
                font-size: 1.2rem;
                font-weight: 1000;
            }
            
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .carousel-container {

        .poster-container {
    
            .poster-detail {
        
                .poster-title{
                    font-size: 2rem;
                }
    
                .poster-description{
                    font-size: 1rem;
                }
                
            }
        }
    }
}

.ant-carousel .slick-dots li button {
    background: #ff4ef6;
    position: relative;
    opacity: 1;
    right: 15vw;
}



@media only screen and (max-width: 767px) {
    .carousel-container {
        position: relative;
        top: 4rem;
    
        height: 25rem;
    
        .poster-container {
            position: relative;
    
            .img-carousel-poster {

                height: 25rem;
            }
    
            .poster-detail {
                position:absolute;
                width: 100%;
                height: 13rem;
    
                top:12rem;
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 100%));
                padding: 2% 3%;
                
                .poster-title{
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 1.7rem;
                    color:white;
                }
    
                .poster-description{
                    color:white;
                    font-family: 'Lato', sans-serif;
                    font-size: 0.7rem;
                    font-weight: 500;
                }
                
            }
        }
    }
}