@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.time-container-fluid {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .time-container{
        width: 70%;
        height: 4rem;
        font-family: "Nunito", sans-serif;
        font-size: 2rem;
        color:white;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:767px) {
    .time-container-fluid {
        .time-container{
            width: 100%;
            font-size: 1.3rem;
        }
    }
}