@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
$dark-background: rgb(37, 39, 61);
$options-hover-color: rgb(103, 144, 219);

.options {
    background-color: white;
    height: 3.1rem;

    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(124, 124, 124);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 1rem;

    &-items-left {
        width: 7.75rem;
        display: flex;
        align-items: center;
    }

    &-status {
        width: 15rem;
        display: flex;
        justify-content: space-around;

        div:hover {
            color: $options-hover-color;
            cursor: pointer;
        }
    }

    &-clear-all {
        &:hover {
            color: $options-hover-color;
            cursor: pointer;
        }
    }
}

.dark-options {
    background-color: $dark-background;
    color: white;
}

@media screen and (max-width: 767px) {
    .options {
        font-size: 0.8rem;

        &-items-left {
            width: 4rem;
        }

        &-status {
            width: 9rem;
        }

        &-clear-all {
            width: 3rem;
        }
    }
}
